# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.f]
indent_size = 4

[*.json]
indent_size = 4
insert_final_newline = false

[*.md]
max_line_length = 80

[*.wat]
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2

[Makefile]
indent_size = 4
